{% extends 'contactos/base.html' %}

{% block content %}
    <h2>Editar Contacto</h2>

    <form method="post" class="form-agregar-contacto">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.nombre.id_for_label }}">Nombre</label>
            {{ form.nombre }}
            {% for error in form.nombre.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
            {{ form.telefono }}
            {% for error in form.telefono.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.correo.id_for_label }}">Correo</label>
            {{ form.correo }}
            {% for error in form.correo.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <label for="{{ form.direccion.id_for_label }}">Dirección</label>
            {{ form.direccion }}
            {% for error in form.direccion.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn">Guardar cambios</button>
    </form>

{% endblock %}


